@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 131 58% 98%;
    --foreground: 131 75% 3%;
    --muted: 311 24% 88%;
    --muted-foreground: 311 6% 31%;
    --popover: 131 58% 98%;
    --popover-foreground: 131 75% 3%;
    --card: 131 58% 98%;
    --card-foreground: 131 75% 3%;
    --border: 131 9% 93%;
    --input: 131 9% 93%;
    --primary: 131 27% 83%;
    --primary-foreground: 131 27% 23%;
    --secondary: 311 27% 83%;
    --secondary-foreground: 311 27% 23%;
    --accent: 311 27% 83%;
    --accent-foreground: 311 27% 23%;
    --destructive: 11 80% 20%;
    --destructive-foreground: 11 80% 80%;
    --ring: 131 27% 83%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 131 48% 2%;
    --foreground: 131 29% 100%;
    --muted: 311 24% 12%;
    --muted-foreground: 311 6% 69%;
    --popover: 131 48% 2%;
    --popover-foreground: 131 29% 100%;
    --card: 131 48% 2%;
    --card-foreground: 131 29% 100%;
    --border: 131 9% 15%;
    --input: 131 9% 15%;
    --primary: 131 27% 83%;
    --primary-foreground: 131 27% 23%;
    --secondary: 311 27% 83%;
    --secondary-foreground: 311 27% 23%;
    --accent: 311 27% 83%;
    --accent-foreground: 311 27% 23%;
    --destructive: 11 80% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 131 27% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground h-full w-full font-sans;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
  .input {
    @apply flex h-10 w-full rounded-md border-2 border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }
  .tr {
    @apply border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted;
  }
  .td{
    @apply p-4 align-middle [&:has([role=checkbox])]:pr-0
  }
  .th{
    @apply h-12 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0
  }
}
